.Toggle-game-state {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25pt;
}

.Toggle-game-state2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Input-select-size {
  margin-top: 15px;
  display: inline-block;
}
